* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: rgb(53, 136, 238);
  background: radial-gradient(circle, rgb(70, 131, 197) 19%, rgb(104, 217, 138) 100%);
}

/* Style for the entire TradingRobot component */
div {
max-width: 1000px;
margin: 20px auto;
padding: 20px;
border: 1px solid #cccccc2a;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for the Market Data table */
table {
width: 100%;
border-collapse: collapse;
margin-top: 2px;
}

th, td {
padding: 10px;
text-align: left;
border: 1px solid #dddddd12;
}

th {
background-color: #f2f2f2;
}

/* Style for the form */
form {
margin-top: 20px;
}

label {
display: block;
margin-bottom: 5px;
}

select, input {
width: 100%;
padding: 8px;
margin-bottom: 10px;
box-sizing: border-box;
}

button {
background-color: #4da6be;
color: white;
padding: 10px 15px;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #2e87a0;
}

.market-data-heading {
display: flex;
align-items: center;
}

.settings-button-container {
margin-left: 300px;
text-decoration-line: none;
border: none;
outline: none;
}

.settings-button {
color: white;
background-color: #4da5be;
color: black;
padding: 3px 12px;
border: none; 
font-size: 20px;
}

.settings-button:hover {
background-color: #2e87a0;
}

.custom-strategy-container {
align-items: center;
margin-bottom: 10px;
}

.custom-strategy-container button {
margin-left: 10px;
}